* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width:  640px;
    MARGIN: 0 auto;
}

.card {
    background-color: #f5f5dc;
    border: 1px solid #3fffbf;
    color: #3fffbf;
    padding: 16px;
} 

.done {
    background-color: #3686ff;
    border-color: #0000ff;
    color: #3d3d3d;
}


.canceled {
    background-color: #ff5454;
    border-color: red;
    color: black;
}

.btn-success {
    padding: 4px 8px;
    margin-top: 8px;
    background-color: #0905fc;
    color: #f5f5f5;
    border-radius: 6px;
}

.btn-danger {
    padding: 4px 8px;
    margin-top: 8px;
    background-color: #fc9105;
    color: #f5f5f5;
    border-radius: 6px;
    /*remover a borda do botão*/
    border: none;
}

.••• {
    background-color: #4fee41;
    border-color: rgb(24, 82, 13);
    color: black;
}

.expand{
    padding: 5px;
    height: 600px;
}