#without-spacing {
    margin: 0;
    padding: 0;
}

#with-border {
    border: 2px solid #33afe9;
    border-radius: 12px;
    text-align: center;
    padding: 6px

}

#with-padding {
    padding: 32px;
    border: 1px solid black;
}

.links-list li {
    border-left: 2px solid rgb(8,99,12);
    padding-left: 6px;
}

.links-list {
    list-style: none;
}

#square {
    background-color: chocolate;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}