* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
max-width: 1240px;
padding: 12px 80px;
}

a {
    text-decoration: none;
}

.links {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

header {
    height: 100px;
}

button {
    height: 40px;
}

.box-1 {
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 241, 47);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-3 {
    height: 100px;
    width: 100px;
    background-color: rgb(238, 47, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.positions {
    background-color: rgb(131, 129, 129);
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}